.cart-product-container{

    display: flex;
    flex-direction: row;
    background-color:white;
    width: 40%;

    justify-content:space-between;
    padding:1rem;
    align-items: center;
    /* margin-left:25vw; */
    margin-top:1rem;
    /* height: 10vh; */
}
.cart-product-img img{

    display: flex;
    flex-direction: row;
    width: 15vw;
    object-fit: cover;
}

.cart-product-desc{
    /* height:20vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

    font-weight: 500;
}

.cart-product-delete svg{

    font-size: 2rem;
    color:red;
}