@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


label { padding: 5px; position: relative; padding-left: 20px;}
label input {display: none;}
label span {border: 1px solid #ccc; width: 15px; height: 15px; position: absolute;  line-height: 1;  border-radius: 100%; font-size: 10pt; left: 0; top: 50%; margin-top: -7.5px;}
input:checked + span {background: #ccf; border-color: #ccf;}
.product-page-container {
    display: flex;
    height: 100%;
    font-family: Prata;
    background-color: white;
  }

  .product-container {
    /* background-color: pink; */
    width: 40%;
    height: 100%;
    margin-left: 10%;
    align-items: center;
  }
  .product-container img {
    width: 25vw;
    height: 70vh;
    object-fit: cover;
    margin: 3rem 4rem;
  }
  .product-details-container {
    width: 100%;
    margin-top: 5px;
  }
  
  .name-price {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    font-weight: bold;
    /* padding:10px 20px; */
  }
  
  .product-details-container-content {
    width: 60%;
    margin: 3rem 2rem 0 2rem;
  }
  .product-detail-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    flex-direction: column;
  }
  .product-quantity input {
    width: 2rem;
    height: 28px;
    border: 2px solid black;
    text-align: right;
  }
  .product-quantity-box {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    margin-top: 1rem;
  }
  .product-desc {
    margin-top: 1rem;
  }
  .product-desc p {
    font-size: 0.8rem;
  }
  
  .product-detail-size {
    margin-top: 10px;
    display: flex;
    
    gap: 40px;
  }
  .circle-size {
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding:0.3rem;
  }
  .circle-size:hover {
    box-shadow: inset 0 0 0 1px #000;
    cursor: pointer;

  }

  .circle-size-selected {
    box-shadow: inset 0 0 0 1px #000;
    cursor: pointer;
    
  }
  
  .product-buttons {
    display: flex;
    /* gap: 10px; */
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    font-size:1rem;
  }
  
  .add-to-cart {

    background-color: #000;
    color:white;
    padding: 10px;
    font-size:1rem;
    width:75%;
    
  }
  
  .ptp{
    text-decoration: none;
    color: #fff;
    width: 100%;
  }
  
  .proceed-to-purchase {

    background-color: #000;
    color:white;
    padding: 10px;
    font-size:1rem;
    width:100%;

    
  }

  .customer-choice{
    display:flex;
    justify-content: space-between;

  }

  .add{
    cursor: pointer;
    font-size:1.5rem;
  }
  
  .subtract{
    cursor:pointer;
    font-size:2rem;
  }